version: '3'
services:
    redis:
        image: redis
    db:
        privileged: true
        restart: always
        image: postgres
        environment:
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=inn0v@tion_p@ssw0rd
            - POSTGRES_DB=innovation_db
        ports:
            - 5432:5432
        volumes:
            - ${DB_DATA}:/var/lib/postgresql/data
    web_service:
        build:
            context: ./api_service
            dockerfile: Dockerfile-api
        ports:
            - 5000:5000
        volumes:
            - ./api_service:/api_code
        depends_on:
            - redis
            - db
    web_portal:
        build:
            context: ./web_portal
            dockerfile: Dockerfile-web
        command: python user_interface/manage.py runserver 0.0.0.0:8000
        ports:
            - 8000:8000
        volumes:
            - ./web_portal:/web_code
        depends_on:
            - db